body {
    text-align: center;
    background-image: url("https://image.freepik.com/free-vector/black-dark-3d-low-poly-geometric-background_79145-393.jpg");
    image-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;


}